{% extends "base/base.html" %}

{% block title %} Gallery Categories {% endblock %}
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    <div class="d-block mb-4 mb-md-0">
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
            <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                <li class="breadcrumb-item">
                    <a href="#">
                        <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                            </path>
                        </svg>
                    </a>
                </li>
                <li class="breadcrumb-item"><a href="#">DLCF APP</a></li>
                <li class="breadcrumb-item active" aria-current="page">Gallery Categories</li>
            </ol>
        </nav>
        <h2 class="h4">All Gallery Categories</h2>
        <p class="mb-0">And He gave some as apostles, and some as prophets, and some as evangelists...</p>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group ms-2 ms-lg-3">
            <button type="button" class="btn btn-sm btn-primary" style="width: fit-content;" data-bs-toggle="modal"
                data-bs-target="#galleryCategoryModal">
                <span class="bi bi-cloud-arrow-up me-2"></span> Add Category
            </button>
        </div>
    </div>
</div>

<div class="table-settings mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col col-md-6 col-lg-3 col-xl-4">
            <div class="input-group me-2 me-lg-3 fmxw-400">
                <form action="">
                    <div class="row">
                        <div class="col-9 mx-0" style="padding-right: 0;">
                            <input type="text" class="form-control" name="q" placeholder="Search gallery category">
                        </div>
                        <div class="col-3 mx-0" style="padding-left: 0;">
                            <span><button class="btn btn-sm btn-primary">Search</button></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-4 col-md-2 col-xl-1 ps-md-0 text-end">
            <div class="dropdown">
                <button class="btn btn-link text-white m-0 p-1 bg-gray-800">
                    {% if search %}
                    {{total_gallery_categogry}} Categories Found!
                    {% else %}
                    {{total_gallery_categogry}} Categories Added
                    {% endif %}
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover" id="gallery-category">
        <thead>
            <tr>
                <th class="border-gray-200">#</th>
                <th class="border-gray-200">Thumbnail</th>
                <th class="border-gray-200">Category Name</th>
                <th class="border-gray-200">Date Added</th>
                <th class="border-gray-200">Action</th>
            </tr>
        </thead>
        <tbody>
            <!-- Item -->
            {% for category in categories %}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>
                    <img src="{% if category.thumbnail %} {{category.thumbnail.url}} {% else %} {% static '/assets/img/users/user.png' %} {% endif %}"
                        alt="category" style="height:50px; width:auto;">
                </td>
                <td>{{category.name}}</td>
                <td><span class="fw-normal">{{category.created_at}}</span></td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-link text-dark dropdown-toggle dropdown-toggle-split m-0 p-0"
                            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="icon icon-sm">
                                <span class="fas fa-ellipsis-h icon-dark"></span>
                            </span>
                        </button>
                        <div class="dropdown-menu py-0">
                            <a class="dropdown-item rounded-top"
                                href="{% if category.thumbnail %} {{category.thumbnail.url}} {% else %} {% static '/assets/img/users/user.png' %} {% endif %}"
                                target="_blank"><span class="fas fa-eye me-2"></span>View</a>
                            <form action="{% url 'dashboard:delete_gallery_category' %}" method="POST"
                                style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="category_id" value="{{category.id}}">
                                <button type="submit" class="dropdown-item text-danger rounded-bottom"><span
                                        class="fas fa-trash-alt me-2"></span>Delete</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>

<!-- modal content -->
{% include 'modals/add_gallery_category.html' %}

{% endblock content %}

<!-- custom js -->
<!-- everything in the custom block below is to implement data table -->
{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.js">
</script>

<script>
    $(document).ready(function () {
        $('#gallery-category').DataTable();
    });
</script>
{% endblock javascripts %}