{% extends "base/base-fullscreen.html" %}

{% block title %} Sign In {% endblock %}

<!-- load static -->
{% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<main>
    <section class="vh-lg-100 mt-5 mt-lg-0 bg-soft d-flex align-items-center">
        <div class="container">
            <p class="text-center">
                DLCF App Dashboard
            </p>
            <!-- signup background image: signin.svg -->
            <div class="row justify-content-center form-bg-image"
                data-background-lg="{% static '/assets/img/illustrations/signin.svg' %}">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="bg-white shadow border-0 rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h1 class="mb-0 h3">
                                DLCF APP - Sign In
                            </h1>
                            <br />
                            <p>
                                {% if msg %}
                                {{ msg | safe }}
                                {% else %}
                                Login to proceed
                                {% endif %}
                            </p>
                        </div>
                        <form method="POST" action="{% url 'accounts:login' %}" class="mt-4">
                            {% csrf_token %}
                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">Email/Username</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon1">
                                        <span class="fas fa-user-circle"></span>
                                    </span>
                                    <input class="form-control" type="text" name="email" id="email"
                                        placeholder="Enter Email/Username">
                                </div>
                            </div>
                            <!-- End of Form -->
                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password">Your Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2">
                                            <span class="fas fa-unlock-alt"></span>
                                        </span>
                                        <input type="password" id="password" name="password" class="form-control"
                                            placeholder="Enter password">
                                    </div>
                                </div>
                                <!-- End of Form -->
                                <div class="d-flex justify-content-between align-items-top mb-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="1" name="remember"
                                            id="remember">
                                        <label class="form-check-label mb-0" for="remember">
                                            Remember me
                                        </label>
                                    </div>
                                    <div><a href="javascript:void()" class="small text-right">Lost
                                            password?</a></div>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="login" class="btn btn-gray-800">Sign In</button>
                            </div>
                        </form>
                        <br />

                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="fw-normal">
                                Copyright &copy; 2023
                                <a href="javascript:void()" class="fw-bold">Media Team - DLCF Legon</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}