{% extends 'website/base.html' %}

{% block title %}Welcome{% endblock %}

{% load static %}
{% block content %}
<!-- Start Main Banner Area -->
<div class="main-banner jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-content">
                    <!-- <h1>Welcome to The DLCF Legon App</h1> -->
                    <h1>Welcome To</h1>
                    <h1>The DLCF Legon App</h1>
                    <p>Get all your inspirational messages and spiritual documents to stair up your spirit man!</p>
                    <a href="" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->

<!-- Start Featured Boxes Area -->
<section class="featured-boxes-area">
    <div class="container">
        <div class="featured-boxes-inner">
            <div class="row m-0">
                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-fb7756">
                            <i class="flaticon-piggy-bank"></i>
                        </div>

                        <h3>STREAM LIVE VIDEOS</h3>
                        <p>Watch our live vidoes on our DLCf app</p>

                        <a href="" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-facd60">
                            <i class="flaticon-data-encryption"></i>
                        </div>

                        <h3>LISTEN TO MESSAGES</h3>
                        <p>Listen to Messages on DLCF app. Immerse yourself in the wisdom and teachings shared by our
                            church through our intuitive DLCF app</p>

                        <a href="" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon color-1ac0c6">
                            <i class="flaticon-wallet"></i>
                        </div>

                        <h3>OFFERING AND TITHE PAYMENTS</h3>
                        <p>Experience the ease and convenience of supporting DLCF Legon church's
                            ministry through our secure and user-friendly DLCF app</p>

                        <a href="" class="read-more-btn">Read More</a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-md-6 p-0">
                    <div class="single-featured-box">
                        <div class="icon">
                            <i class="flaticon-shield"></i>
                        </div>

                        <h3>BROWSE OUR GALLERY</h3>
                        <p>Discover the rich tapestry of moments captured within our church
                            community through our intuitive DLCF app's gallery feature.
                        </p>

                        <a href="" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Boxes Area -->

<!-- Start Services Area -->
<section class="services-area ptb-70">
    <div class="container-fluid p-0">
        <div class="overview-box">
            <div class="overview-content">
                <div class="content left-content">
                    <h2>Explore the Features</h2>
                    <div class="bar"></div>
                    <p>Below are some things you can do with the DLCF App.</p>

                    <ul class="services-list">
                        <li><span><i class="flaticon-check-mark"></i> Listen to messages</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Stream live videos</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Discover messages</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Browse our gallery</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Know your bible doctrine</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Pay offering and tithe</span></li>
                    </ul>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="{% static '/website/img/1.png' %}" alt="image">

                    <div class="circle-img">
                        <img src="{% static '/website/img/circle.png' %}" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Services Area -->
<section class="services-area ptb-70 bg-f7fafd">
    <div class="container-fluid p-0">
        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src="{% static '/website/img/2.png' %}" alt="image">

                    <div class="circle-img">
                        <img src="{% static '/website/img/circle.png' %}" alt="image">
                    </div>
                </div>
            </div>

            <div class="overview-content">
                <div class="content">
                    <h2>Why DLCF Legon App?</h2>
                    <div class="bar"></div>
                    <p>DLCF app allows church members and visitors to access church-related
                        information, resources, and services anytime and anywhere with an
                        internet connection. It ensures that important updates, announcements,
                        and events are readily available to everyone, including those who may
                        not be physically present at the church.
                        It provides a platform for effective communication between the church
                        leadership and the congregation. It enables the dissemination of news,
                        messages, sermon recordings, and other relevant content to keep members
                        informed and engaged. The app may also incorporate interactive features
                        like live chat, prayer requests, and community forums, fostering a sense
                        of connection and encouraging participation.</p>

                    <ul class="services-list">
                        <li><span><i class="flaticon-check-mark"></i> Resource Center</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Sermon Accessibility</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Church Gallery</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Online Giving</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Sense of Membership</span></li>
                        <li><span><i class="flaticon-check-mark"></i> Enhance spiritual journey</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->

<!-- Start Features Area -->
<section class="features-area ptb-70 bg-f6f4f8">
    <div class="container">
        <div class="section-title">
            <h2>Our Features</h2>
            <div class="bar"></div>
            <p>Below are some features that DLCF App offers.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-settings"></i>
                    </div>

                    <h3>Sermons</h3>
                    <p>Conviniently access sermons on DLCF Legon app, a
                        valuable resource for spiritual nourishment.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-f78acb">
                        <i class="flaticon-envelope-of-white-paper"></i>
                    </div>

                    <h3>Inspirational Messages</h3>
                    <p>Immerse yourself in the uplifting and transformative
                        power of Inspirational Messages on DLCF legon app.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-cdf1d8">
                        <i class="flaticon-menu"></i>
                    </div>

                    <h3>Devotional Guides</h3>
                    <p>Cultivate a deeper understanding of Scripture and connect with God through regular devotional
                        practices.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-c679e3">
                        <i class="flaticon-info"></i>
                    </div>

                    <h3>Stream Live Videos</h3>
                    <p>Experience the power of live video streaming on DLCF legon app,
                        enabling you to actively participate in worship, connect with fellow believers,
                        regardless of physical distance.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon bg-eb6b3d">
                        <i class="flaticon-cursor"></i>
                    </div>

                    <h3>Online Payment</h3>
                    <p>Experience the convenience and efficiency of making financial
                        contributions to DLCF Legon church through the Online Payment feature on DLCF app.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <i class="flaticon-alarm"></i>
                    </div>

                    <h3>Help And Support</h3>
                    <p>Experience smooth user experience with the
                        Help and Support feature on DLCF Legon app. Feel confident knowing
                        that assistance and guidance are readily available whenever you need it</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Features Area -->

{% endblock %}