<form action="{% url 'dashboard:create_update_preacher' %}?preacher_id={{preacher.id}}"
    style="border: 2px solid blue; padding: 30px 50px;" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Preacher creation/updation form</legend>
        <!-- main form content -->
        <div class="mb-4">
            <label for="name">Full Name*</label>
            <input type="text" class="form-control" name="name" value="{{preacher.name}}" aria-describedby="nameHelp"
                required>
        </div>
        <div class="mb-4">
            <label for="title">Title</label>
            <select name="title" name="title" class="form-control">
                <option value="MR" {% if preacher.title == "MR" %} selected {% endif %}>Mr (Mister)</option>
                <option value="MS" {% if preacher.title == "MS" %} selected {% endif %}>MS (Miss)</option>
                <option value="MRS" {% if preacher.title == "MRS" %} selected {% endif %}>MRS (Mrs)</option>
                <option value="DR" {% if preacher.title == "DR" %} selected {% endif %}>DR (Doctor)</option>
                <option value="PS" {% if preacher.title == "PS" %} selected {% endif %}>PS (Pastor)</option>
                <option value="EVG" {% if preacher.title == "EVG" %} selected {% endif %}>EVG (Evangelist)</option>
                <option value="APS" {% if preacher.title == "APS" %} selected {% endif %}>APS (Apostle)</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="position">Position</label>
            <input type="text" class="form-control" name="position" value="{{preacher.position}}"
                aria-describedby="positionHelp" required>
        </div>
        <div class="mb-4">
            <label for="position">Picture</label>
            {% if preacher.picture %}
            <small>Current Picture: <span class="text-primary">{{preacher.picture.url}}</span> </small>
            {% endif %}
            <input type="file" class="form-control" name="picture" value="{{preacher.picture}}"
                aria-describedby="pictureHelp" accept="image/jpg, image/jpeg, image/png" {% if not preacher.picture %}
                required {% endif %}>
        </div>

        <div class="mb-4">
            <input type="submit" class="btn btn-sm btn-block btn-primary" value="Submit">
        </div>
    </fieldset>
</form>