<form action="{% url 'dashboard:create_update_leader' %}" style="border: 2px solid blue; padding: 30px 50px;"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="leader_id" value="{{leader.id}}">
    <fieldset>
        <legend>Leader creation/updation form</legend>
        <!-- main form content -->
        <div class="mb-4">
            <label for="name">Full Name*</label>
            <input type="text" class="form-control" name="name" value="{{leader.name}}" aria-describedby="nameHelp"
                required>
        </div>
        <div class="mb-4">
            <label for="title">Title</label>
            <select name="title" name="title" class="form-control">
                <option value="MR" {% if leader.title == "MR" %} selected {% endif %}>Mr (Mister)</option>
                <option value="MS" {% if leader.title == "MS" %} selected {% endif %}>MS (Miss)</option>
                <option value="MRS" {% if leader.title == "MRS" %} selected {% endif %}>MRS (Mrs)</option>
                <option value="DR" {% if leader.title == "DR" %} selected {% endif %}>DR (Doctor)</option>
                <option value="PS" {% if leader.title == "PS" %} selected {% endif %}>PS (Pastor)</option>
                <option value="EVG" {% if leader.title == "EVG" %} selected {% endif %}>EVG (Evangelist)</option>
                <option value="APS" {% if leader.title == "APS" %} selected {% endif %}>APS (Apostle)</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="position">Position</label>
            <input type="text" class="form-control" name="position" value="{{leader.position}}"
                aria-describedby="positionHelp" required>
        </div>
        <div class="mb-4">
            <label for="position">Picture</label>
            {% if leader.picture %}
            <br>
            <small>Current Picture: <span style="color: blue;">{{leader.picture.url}} </span></small>
            {% endif %}
            <input type="file" class="form-control" name="picture" value="{{leader.picture}}"
                aria-describedby="pictureHelp" accept="image/jpg, image/jpeg, image/png" {% if not leader.picture %}
                required {% endif %}>
        </div>

        <div class="mb-4">
            <input type="submit" class="btn btn-sm btn-block btn-primary" value="Submit">
        </div>
    </fieldset>
</form>