<form action="{% url 'dashboard:create_update_category' %}" style="border: 2px solid blue; padding: 30px 50px;"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="category_id" value="{{category.id}}">
    <fieldset>
        <legend>Category creation/updation form</legend>
        <!-- main form content -->
        <div class="mb-4">
            <label for="name">Name*</label>
            <input type="text" class="form-control" name="name" value="{{category.name}}" aria-describedby="nameHelp"
                required>
        </div>
        <div class="mb-4">
            <label for="position">Thumbnail</label>
            {% if category.thumbnail %}
            <br>
            <small>Current Thumbnail: <span style="color: blue;">{{category.thumbnail.url}} </span></small>
            {% endif %}
            <input type="file" class="form-control" name="thumbnail" value="{{category.thumbnail}}"
                aria-describedby="thumbnailHelp" accept="image/jpg, image/jpeg, image/png"
                {% if not category.thumbnail %} required {% endif %}>
        </div>
        <div class="mb-4">
            <input type="submit" class="btn btn-sm btn-block btn-primary" value="Submit">
        </div>
    </fieldset>
</form>