<form action="" style="border: 2px solid blue; padding: 30px 50px;" method="POST">
    {% csrf_token %}
    <fieldset>
        <legend>User creation/updation form</legend>
        <!-- main form content -->
        <div class="mb-4">
            <label for="fullname">Full Name*</label>
            <input type="text" class="form-control" name="fullname" value="{{user.fullname}}"
                aria-describedby="fullnameHelp" required>
        </div>
        <div class="mb-4">
            <label for="email">Email*</label>
            <input type="email" class="form-control" name="email" value="{{user.email}}" aria-describedby="emailHelp"
                required>
        </div>
        <div class="mb-4">
            <label for="gender">Gender</label>
            <select name="gender" name="gender" class="form-control">
                <option value="Male" {% if user.gender == "Male" %} selected {% endif %}>Male</option>
                <option value="Female" {% if user.gender == "Female" %} selected {% endif %}>Female</option>
            </select>
        </div>

        <div class="mb-4">
            <input type="submit" class="btn btn-sm btn-block btn-primary" value="Submit">
        </div>
    </fieldset>
</form>