<form action="{% url 'dashboard:create_update_user' %}" style="border: 2px solid blue; padding: 30px 50px;"
    method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="user_id" value="{{user.id}}">
    <fieldset>
        <legend>User creation/updation form</legend>
        <!-- main form content -->
        <div class="mb-4">
            <label for="fullname">Full Name*</label>
            <input type="text" class="form-control" name="fullname" value="{{user.fullname}}"
                aria-describedby="fullnameHelp" required>
        </div>
        <div class="mb-4">
            <label for="email">Email*</label>
            <input type="email" class="form-control" name="email" value="{{user.email}}" aria-describedby="emailHelp"
                required>
        </div>
        <div class="mb-4">
            <label for="gender">Gender</label>
            <select name="gender" class="form-control">
                <option value="Male" {% if user.gender == "Male" %} selected {% endif %}>Male</option>
                <option value="Female" {% if user.gender == "Female" %} selected {% endif %}>Female</option>
            </select>
        </div>
        <div class="mb-4">
            <label for="phone">Phone*</label>
            <input type="text" class="form-control" name="phone" value="{{user.phone}}" aria-describedby="phonehelp">
        </div>
        <hr>
        <div class="mb-4">
            <label for="role">Role**</label>
            <select name="role" class="form-control">
                <option value="app_user" {% if user.role == "app_user" %} selected {% endif %}>APP USER</option>
                <option value="administrator" {% if user.role == "administrator" %} selected {% endif %}>ADMINISTRATOR
                </option>
            </select>
        </div>
        <div class="mb-4">
            <input type="submit" class="btn btn-sm btn-block btn-primary" value="Submit">
        </div>
    </fieldset>
</form>